.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display:flex;
    gap: 17px;
}
.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.productdisplay-img-list img {
    height: 163px;   
}
.productdisplay-main-img {
    width: 586px;   
}
.productdisplay-right {
    margin-top: 30px;
    margin-left: 50px;
}
.productdisplay-right-price{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 50px;
    font-weight: 700;
    color: #818181;
    justify-content: center;
}